langchain
langchain-groq
langchain[huggingface]
langchain-classic
langchain_core
langchain_community
langchain_openai
langchain_ollama
langserve
streamlit
python_dotenv
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
sentence-transformers
arxiv
wikipedia
transformers